[Desktop Entry]
Version=1.0
Name=Sparky        
Comment=A little game about a dog that is trying to make friends.
Exec=gnome-terminal --geometry=190x53+0+0 -e 'sparky'
Icon=Dog.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame
Name[en_US]=Sparky
